@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

input {
  outline: none;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}

/* Hero section color gradient theme  */

/* used in Refund policy */
.title-text-gradien-fordark {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 20%,
    rgb(143, 141, 141)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-text-gradien-forlight {
  background: linear-gradient(
    to bottom,
    rgb(82, 1, 96) 20%,
    rgb(171, 96, 188) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Theme animation */
.moonIcon {
  animation: keyframes-fill 0.5s;
}

.sunIcon {
  animation: keyframes-fill 0.5s;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }
  75% {
    transform: rotate(25deg);
  }
}

.full-height {
  height: 100lvh;
}

/* Aurora effect - used in headings / main tags with button component - AnimatedAuroraText */
.text-gradient {
  height: fit-content;
  background: linear-gradient(
    270deg,
    #ff6ec4,
    #7873f5,
    #4ade80,
    #38bdf8,
    #f472b6,
    #ff6ec4
  );
  background-size: 600% 600%;
  background-position: 0% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Divider effect */
.divider {
  height: 2px; /* h-0.5 = 2px */
  margin-left: auto; /* mx-auto => horizontal centering */
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    transparent,
    #a855f7,
    transparent
  );
}

/* Tweeter card customization */
.tweetCard .react-tweet-theme {
  --tweet-container-margin: 0rem;
  --tweet-body-font-size: 0.9rem;
  --tweet-bg-color: transparent;
  --tweet-bg-color-hover: transparent;
  border: none;
  padding: 20px;
}

._root_98iqw_1 ._article_98iqw_21 {
  max-width: 100%;
  min-height: 530px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.react-tweet-theme ._root_g9tkv_1 ._image_g9tkv_43 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 400px;
}

.react-tweet-theme ._mediaLink_g9tkv_34 img {
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
}

.react-tweet-theme ._twitterIcon_nqq4j_90 {
  transform: rotate(0deg);
  transition-property: opacity, display, transform !important;
  transition-duration: 0.5s !important;
}

.react-tweet-theme ._twitterIcon_nqq4j_90:hover {
  transform: rotate(180deg);
}

.tweetCard .react-tweet-theme ._root_g9tkv_1 {
  max-height: 200px;
}

.tweetCard .react-tweet-theme ._root_1xq52_1 {
  text-align: start;
  --tweet-body-line-height: 1.2rem;
}

.tweetCardOne,
.tweetCardTwo,
.tweetCardThree {
  will-change: transform, opacity;
}

._likeIcon_n2anf_27 {
  color: blue !important;
  height: 20px !important;
  width: 20px !important;
}
._verified_lvyh0_1 {
  height: 20px !important;
  width: 20px !important;
}

/* Animation used in Alumni network */
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(253, 224, 71, 0.7); /* Initial glow */
    opacity: 0.8;
  }
  50% {
    box-shadow: 0 0 20px rgba(253, 224, 71, 0.9); /* Stronger glow */
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 10px rgba(253, 224, 71, 0.7); /* Back to initial glow */
    opacity: 0.8;
  }
}

.animate-glow {
  animation: glow 1.5s ease-in-out infinite alternate; /* Apply the animation */
}

/* used in Footer */
.text-gradient-orange {
  background: linear-gradient(to right, rgb(249, 115, 22), rgb(245, 158, 11));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-purple {
  background: linear-gradient(
    162deg,
    rgb(126, 2, 157) 50%,
    rgb(203, 30, 247) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* used in Refund policy */
.text-gradient-fordark {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 20%,
    rgb(143, 141, 141)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-light {
  background: linear-gradient(
    to top,
    rgb(126, 2, 157) 50%,
    rgb(203, 30, 247) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes wiggle {
  0% {
  }
  50% {
    translate: 20px;
  }
  100% {
    translate: 20px;
  }
}
